<p>operation-list works!</p>

<ng-template #parentHeader>
    <span class="parent-header">Hi, this is a parent!</span>
</ng-template>

<ng-template #contentHeader let-operation>
    <span>Alternative content...</span>
    <span class="content-header">{{ operation?.title }}</span>
    <span class="content-header">{{ operation?.isin }}</span>
</ng-template>


<div *ngFor="let o of dataSource">
    
    <app-operation-item 
        [operation]="o" 
        [headerTemplate]="parentHeader" 
        [contentTemplate]="contentHeader">
    
    </app-operation-item>


</div>


