.container-operation-item{
    border:1.0rem transparent;

    color:white;
    display: grid;
    grid-template-columns: 1ft;
    grid-template-rows: 1fr;
    grid-template-areas:
    "operation-item-header"
    "operation-item-footer";
    margin:0.5rem;
    overflow: hidden; /* Hide scrollbars */ 
    padding:1.0rem;
    text-align: left;
    float: left;
    min-width:250px;
}

.operation-item-header{
    grid-area: operation-item;
}

.operation-item-footer{
    grid-area: operation-item-footer;
}

.color-alert{
    background-color: green;
}

.color-default{
    background-color: lightgray;
}