
<div>
    <ng-container [ngTemplateOutlet]="headerTemplate || defaultTemplate"></ng-container>
    <ng-container [ngTemplateOutlet]="contentTemplate || defaultContentTemplate" [ngTemplateOutletContext]="{ $implicit: operation}"></ng-container>
    
    <span>{{ operation?.isin }}</span>
   
    <ng-template #defaultTemplate>
        <span>{{ operation?.status }}</span>
        <span>{{ operation?.price }}</span>
        <span>{{ operation?.coupon }}</span>
    </ng-template>
    <ng-template #defaultContentTemplate>
        <span>{{ operation?.type }}</span>
        <span>{{ operation?.title}}</span>
        <span>{{ operation?.maturityDate }}</span>
    </ng-template>
</div>



