
<div class="container-operation-item">
    <div class="operation-item-header"><ng-container [ngTemplateOutlet]="headerTemplate || defaultHeaderTemplate" /></div>
    <div class="operation-item-footer"><ng-container [ngTemplateOutlet]="contentTemplate || defaultContentTemplate" [ngTemplateOutletContext]="{ $implicit: operation}" /></div>
</div>

<ng-template #defaultHeaderTemplate>
    <div>{{ operation?.title }}</div>
    <div>{{ operation?.isin }}</div>
    <div>{{ operation?.type }}</div>
</ng-template>

<ng-template #defaultContentTemplate>
    <!-- <span>{{ operation?.type }}</span>
    <span>{{ operation?.title}}</span>
    <span>{{ operation?.maturityDate }}</span> -->
</ng-template>