.widget-container{
    border:0.0rem;
    background-color: aqua;
    color:black;
    display: grid;
    grid-template-columns: 1ft;
    grid-template-rows: 1fr;
    grid-template-areas:
    "header"
    "content";
    margin:auto; /* make child div stay within the bounds of parent div */
    overflow: hidden; /* Hide scrollbars */ 
    padding:1.0rem;
    width: 100%;

}

.header { grid-area: header; font-size: xx-large; }
.content { grid-area: content; }